<div id="code">

	<p><a href="https://bitbucket.org/Ravinia/portfolio" target="_blank">This site</a><br>
	I built this site using Angular and Bootstrap. It's open source.</p>

	<p><a href="https://bitbucket.org/cs360freakingzombies/freakingzombies" target="_blank">freakingZombies</a><br>
	A zombie game I built with Angular on a team of 3 for CS360 at BYU, Provo.</p>

	<p><a href="https://bitbucket.org/Ravinia/misc-mini-java-projects/src/cdb8acc1f88f67dd95df45e5169d38ef3fbb24d7/src/LongestSubsequenceFinder.java?at=master#" target="_blank">Longest Subsequence</a><br>
	A class that contains original O(n) and O(n^2) solutions to the following problem. Given an array of integers and a target sum, find the largest subsequence that sums to that target.<br></p>

	<p><a href="https://bitbucket.org/Ravinia/settlersofcatan" target="_blank">Settlers of Catan</a><br>
	This is an open source project I created in a team of 5 for my CS340 class at BYU, Provo.<br></p>

	<p><a href="resources/code/Targetable.cs" target="_blank">Targetable Superclass</a><br>
	This class is a part of my Footman Frenzy game. I wrote this script so that any unit or object that needed to have health/die would merely have to inherit from this class.<br></p>

	<p><a href="https://bitbucket.org/Ravinia/record-server-indexer" target="_blank">Record Server Indexer</a><br>
	This is an open source project I created for my CS240 class at BYU, Provo.<br></p>

	<p><a href="https://github.com/MrDrProfX/weather" target="_blank">Weather</a><br>
	This is a node weather module I have been creating for my CS360 class at BYU, Provo.</p>
</div>
