<div id="gallery">
	<li><img src="resources/gallery/screen10.png" alt="" width="800" height="600"></li>
	<li><img src="resources/gallery/screen11.png" alt="" width="800" height="600"></li>
	<li><img src="resources/gallery/screen12.png" alt="" width="800" height="600"></li>
	<li><img src="resources/gallery/screen13.png" alt="" width="800" height="600"></li>
	<li><img src="resources/gallery/maze0.png" alt="" width="800" height="600"></li>
	<li><img src="resources/gallery/maze1.png" alt="" width="800" height="600"></li>
	<li><img src="resources/gallery/screen00.png" alt="" width="800" height="600"></li>
	<li><img src="resources/gallery/screen01.png" alt="" width="800" height="600"></li>
	<li><img src="resources/gallery/screen02.png" alt="" width="800" height="600"></li>   
	<li><img src="resources/gallery/screen03.png" alt="" width="800" height="600"></li>   
	<li><img src="resources/gallery/screen04.png" alt="" width="800" height="600"></li>   
	<li><img src="resources/gallery/screen05.png" alt="" width="800" height="600"></li>   
	<li><img src="resources/gallery/screen06.png" alt="" width="800" height="600"></li>  
	<li><img src="resources/gallery/screen07.png" alt="" width="800" height="600"></li>     
	<li><img src="resources/gallery/screen08.png" alt="" width="800" height="600"></li>     
	<li><img src="resources/gallery/screen09.png" alt="" width="800" height="600"></li>     
</div>
