<div id="home">
	<p>Welcome!</p>

	<p>I'm Jameson Saunders, and this is my virtual portfolio. The purpose of this site is to showcase my professional self.</p>

	<p>I've been programming for about 7 years now. In doing so, I have developed a wide variety of programming skills. Among these are user interface, data modeling, web page design, client-server systems, sockets, threads, MEAN (MongoDB, Express.js, Angular.js, Node.js), web programming, and algorithm design. My favorite text editor is Vim, but I'm also familiar with Eclipse and IntelliJ. I'm most comfortable on Mac OS X and Linux operating systems.</p>

	<p>I enjoy a challenge and I frequently push myself beyond task requirements. In my spare time I like to program computer games and play the cello. I made my most popular computer <a target="_blank" href="http://sandbox.yoyogames.com/games/118704-nazi-zombies-3d" >game</a> when I was 14. It now has over 20,000 downloads.</p>

	<p>I have experience building professional software for Qualtrics, LANDesk, and InCheck.</p>

	<img src="resources/images/professional.png" width="324" height="216"/>
	<!--img src="resources/images/professional.jpg" width="216" height="216"/-->
	<img src="resources/images/cello.jpg" width="162" height="216"/>
</div>
