<div id="works">
	<table class="table" data-sort-name="Name" data-sort-order="desc">
		<thead>
			<tr>
				<th>Name</th>
				<th ng-repeat="(key, value) in works[0] | linkFilter" data-field={{key}} data-sortable="true">{{key}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="work in works | orderBy : '-Year'">
				<td><a href={{work.Link}}>{{work.Name}}</a></td>
				<td ng-repeat="col in work | linkFilter">{{col}}</a></td>
			</tr>
		</tbody>
	</table>
</div>
