#content
{
	padding: 64px;
	padding-top: 0px;
}

#resume
{
	width: 100%;
	height: 1028px;
}

#home, #code
{
	margin-right: auto;
	margin-left: auto;
	width: 544px;
	padding-top: 0px;
}

li
{
	list-style-type: none;
}

img
{
	border: 2px solid black;
}

#gallery
{
	overflow-y:scroll;
	overflow-x:hidden;
}

#gallery img
{
	width: 100%;
	height: 100%;
	border: 2px solid black;
}

#gallery li:not(:first-child) img
{
	border-top: none;
}
